<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <title>App</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%= css :application, :media => 'screen' %>
    <%= js :application %>

    <!--[if IE]>

    <style type="text/css">
      .clear {
      zoom: 1;
      display: block;
      }
    </style>

    <![endif]-->

  </head>

  <body>
    <div id="app_container">
    </div>
  </body>

</html>
